
.finance_main
{
    padding: 25px 0px;
}

/* Finance top header */

.finance_top_header_container
{
    margin: 30px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.finance_top_header_info_child_one
{
    padding: 0px;
}
.finance_top_header_info_name
{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--title-light);
    font-family: var(--font-family-sans-serif);
}
.finance_top_header_info_sub
{
    padding-top: 5px;
    font-size: .850rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--title-sub-heading);
    font-family: var(--font-family-sans-serif);
}
.finance_top_header_info_child_two
{
    display: flex;
    align-items: center;
}
.finance_top_header_info_container
{
    display: flex;
    align-items: center;
}
.finance_top_header_info_container:nth-child(n + 2)
{
    margin-left: 25px;
}
.finance_top_header_logo_bg
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--icon-bg);
}
.finance_top_header_logo
{
    width: 19px;
    height: 19px;
    margin: 8px 8px;
    color: var(--icon-color);
}
.finance_top_header_heading
{
    padding-left: 10px;
    font-size: .920rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.finance_top_header_heading:hover
{
    color: var(--title-highlight);
    cursor: pointer;
}


/* Finance Traction  */

.finance_transaction_header_container
{
    margin: 5px 0px 35px 0px;
}
.finance_transaction_info_container
{
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 25px 20px;
    border-radius: 10px;
}

.finance_transaction_info_icon
{
    width: 30px;
    height: 30px;
    color: var(--icon-color);
}
.finance_transaction_info_name
{
    padding: 10px 0px;
    width: 180px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-sans-serif);
    transition: 0.4s all ease-in-out;
}
.finance_transaction_info_money
{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.010rem;
    color: var(--title-light);
    font-family: var(--font-family-sans-serif);
    transition: 0.4s all ease-in-out;
}


/* Finance transaction filter */

.finance_filter_container
{
    width: 100%;
}
.finance_filter_custom_dropdown
{
    position: relative;
}
.finance_filter_custom_dropdown_container
{
    margin: 30px 0px 15px 0px;
    border-radius: 7px;
    width: 100%;
    padding: 0px 8px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    cursor: pointer;
    border: 1px solid var(--form-input-border);
    background-color: var(--form-input-bg);
}
.finance_filter_custom_dropdown_list
{
    display: none;
    max-height: 150px;
    border-radius: 7px;
    border: 1px solid var(--form-input-border);
    overflow-y: scroll;
    background-color: var(--form-input-bg);
}
.finance_filter_custom_dropdown_list.show
{
    display: block;
    position: absolute;
    width: 100%;
    z-index : 30;
}
.finance_filter_custom_dropdown_list.show::-webkit-scrollbar
{
    width: 5px;
    border-radius: 0px;
    background-color: var(--card-bg);
}

.finance_filter_custom_dropdown_list.show::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

.finance_filter_custom_dropdown_list.show::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--scroll-border); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.finance_filter_selected_option_container
{
    width: 100%;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 15px 0px;
    padding: 12px 15px;
    background-color: var(--container-light-blue-bg);
}
.finance_filter_selected_option_container > .name
{
    font-size: 1rem;
    font-weight: 500;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.010rem;
    font-family: var(--font-family-sans-serif);
    color: var(--text-highlight-dark);
}
.finance_filter_selected_option_container > .icon
{
    width: 13px;
    height: 13px;
    cursor: pointer;
    color: var(--icon-color);
}

/* finance transaction detail */

.finance_transaction_detail_container
{
    margin: 20px 0px;
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}
.finance_transaction_detail_container::-webkit-scrollbar
{
    width: 5px;
    border-radius: 0px;
    background-color: var(--card-bg);
}

.finance_transaction_detail_container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

.finance_transaction_detail_container::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--scroll-border); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.finance_transaction_detail_month_container
{
    margin: 0px;
}
.finance_transaction_detail_month_header
{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    bottom: 0px;
    padding: 15px 5px;
    margin: 0px 0px 10px 0px;
    font-size: .9rem;
    font-weight: var(--font-family-sans-serif);
    color: var(--title-heading);
    background-color: var(--body-bg);
}
.finance_transaction_datail_item
{
    padding: 25px 25px;
    margin: 16px 0px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: var(--card-bg);
}
.finance_transaction_detail_item_info_container
{
    display: flex;
    align-items: center;
}
.finance_transaction_detail_item_info_container .category
{
    font-size: 1.020rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    font-family: var(--font-family-sans-serif);
    color: var(--title-heading);
}
.finance_transaction_detail_item_info_container .icon
{
    margin: 0px 15px 0px 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: var(--title-heading);
}
.finance_transaction_detail_item_info_container .type
{
    font-size: .800rem;
    font-weight: 400;
    font-family: var(--font-family-sans-serif);
}
.finance_transaction_detail_item_info_container .type.income
{
    color: var(--success-alert-text);
}
.finance_transaction_detail_item_info_container .type.expenses
{
    color: var(--danger-alert-text);
}
.finance_transaction_detail_item_info_container .type.investment
{
    color: var(--info-alert-text);
}
.finance_transaction_detail_item_description_container
{
    width: 100%;
}
.finance_transaction_detail_item_description_container .info
{
    font-size: .905rem;
    color: var(--title-sub-heading);
    font-family: var(--font-family-sans-serif);
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.finance_transaction_detail_item_amount_container
{
    margin-left: auto;
}
.finance_transaction_detail_item_amount_container .amount
{
    font-size: 1.060rem;
    font-weight: 500;
    letter-spacing: 0.020rem;
    color: var(--title-highlight);
    font-family: var(--font-family-sans-serif);
}
.finance_transaction_detail_item_amount_container .amount.income
{
    color: var(--success-alert-text);
}
.finance_transaction_detail_item_amount_container .amount.expenses
{
    color: var(--danger-alert-text);
}
.finance_transaction_detail_item_amount_container .amount.investment
{
    color: var(--info-alert-text);
}
