
.finance_main
{
    padding: 25px 0px;
}

/* Finance top header */

.finance_top_header_container
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.finance_top_header_info_child_one
{
    padding: 0px;
}
.finance_top_header_info_name
{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--title-light);
    font-family: var(--font-family-sans-serif);
}
.finance_top_header_info_sub
{
    padding-top: 5px;
    font-size: .850rem;
    font-weight: 500;
    letter-spacing: 0.010rem;
    color: var(--title-sub-heading);
    font-family: var(--font-family-sans-serif);
}
.finance_top_header_info_child_two
{
    display: flex;
    align-items: center;
}
.finance_top_header_info_container
{
    display: flex;
    align-items: center;
}
.finance_top_header_info_container:nth-child(n + 2)
{
    margin-left: 25px;
}
.finance_top_header_logo_bg
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--icon-bg);
}
.finance_top_header_logo
{
    width: 19px;
    height: 19px;
    margin: 8px 8px;
    color: var(--icon-color);
}
.finance_top_header_heading
{
    padding-left: 10px;
    font-size: .920rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.finance_top_header_heading:hover
{
    color: var(--title-highlight);
    cursor: pointer;
}


/* Finance Traction  */

.finance_transaction_header_container
{
    margin: 5px 0px 35px 0px;
}
.finance_transaction_info_container
{
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    padding: 25px 20px;
    border-radius: 10px;
}

.finance_transaction_info_icon
{
    width: 30px;
    height: 30px;
    color: var(--icon-color);
}
.finance_transaction_info_name
{
    padding: 10px 0px;
    width: 180px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-sans-serif);
    transition: 0.4s all ease-in-out;
}
.finance_transaction_info_money
{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.010rem;
    color: var(--title-light);
    font-family: var(--font-family-sans-serif);
    transition: 0.4s all ease-in-out;
}
