
.finance_main
{
    padding: 25px 0px;
}

/* Finance top header */

.finance_top_header_container
{
    width: 100%;
    display: flex;
    align-items: center;
}
.finance_top_header_info_container
{
    display: flex;
    align-items: center;
}
.finance_top_header_info_container:nth-child(n + 2)
{
    margin-left: 25px;
}
.finance_top_header_logo_bg
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--icon-bg);
}
.finance_top_header_logo
{
    width: 20px;
    height: 20px;
    margin: 7px 8px;
    color: var(--icon-color);
}
.finance_top_header_heading
{
    padding-left: 10px;
    font-size: .920rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.finance_top_header_heading:hover
{
    color: var(--title-highlight);
    cursor: pointer;
}


/* Finance Traction  */

.finance_transaction_header_container
{
    margin: 5px 0px 35px 0px;
}
.finance_transaction_info_container
{
    display: flex;
    flex-direction: column;
    margin: 10px 25px 15px 0px;
    padding: 10px 15px;
    border-radius: 8px;
}
.finance_transaction_info_container:nth-child(n + 2)
{
    margin: 10px 25px 15px 25px;
}
.finance_transaction_info_container.success
{
    background-color: var(--success-alert-bg);
    border: 1px solid var(--success-alert-border);
}
.finance_transaction_info_container.danger
{
    background-color: var(--danger-alert-bg);
    border: 1px solid var(--danger-alert-border);
}
.finance_transaction_info_container.info
{
    background-color: var(--info-alert-bg);
    border: 1px solid var(--info-alert-border);
}
.finance_transaction_info_container.warning
{
    background-color: var(--warning-alert-bg);
    border: 1px solid var(--warning-alert-border);
}
.finance_transaction_info_container.danger
{
    background-color: var(--danger-alert-bg);
    border: 1px solid var(--danger-alert-border);
}
.finance_transaction_info_name
{
    width: 180px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.finance_transaction_info_money
{
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.010rem;
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.finance_transaction_info_money.success,
.finance_transaction_info_name.success
{
    color: var(--success-alert-text);
}
.finance_transaction_info_name.danger,
.finance_transaction_info_money.danger
{
    color: var(--danger-alert-text);
}
.finance_transaction_info_name.info,
.finance_transaction_info_money.info
{
    color: var(--info-alert-text);
}
.finance_transaction_info_name.warning,
.finance_transaction_info_money.warning
{
    color: var(--warning-alert-text);
}


/* Transaction model */

.model_container
{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    max-height: 600px;
    padding: 25px 20px;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    box-shadow: 1px 5px 20px -10px rgb(0 0 0 / 78%);
    -webkit-box-shadow: 1px 5px 20px -10px rgb(0 0 0 / 78%);
    -moz-box-shadow: 1px 5px 20px -10px rgb(0 0 0 / 78%);
    transform: translate(-50%, -20%);
    transition: 0.4s all ease-in-out;
}
.model_header_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.model_header_name
{
    color: var(--title-heading);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-family-inter-font);
}
.model_header_icon
{
    width: 17px;
    height: 17px;
    cursor: pointer;
    color: var(--icon-dark-color);
}
.model_form_input
{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
    padding: 8px 9px;
    font-size: .950rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    color: var(--title-light);
    font-family: var(--font-family-sans-serif);
    background-color: var(--form-input-bg);
    border: 1px solid var(--form-input-border);
    transition: 0.4s all ease-in-out;
}
.model_form_input::placeholder
{
    font-weight: 500;
    color: var(--form-text-placeholder);
}
.model_form_input:focus
{
    outline: none;
    border: 1px solid var(--form-focus-border);
}
.model_form_btn
{
    border: none;
    margin-top: 15px;
    border-radius: 7px;
    width: 100%;
    padding: 10px 0px;
    color: var(--title-light);
    font-weight: 500;
    font-family: var(--font-family-inter-font);
    background-color: var(--btn-highlight-bg);
}
.model_custom_dropdown_container
{
    margin: 30px 0px 15px 0px;
    border-radius: 7px;
    padding: 0px 8px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    cursor: pointer;
    background-color: var(--form-input-bg);
}
.model_custom_dropdown_value
{
    width: 95%;
    height: 45px;
    border: none;
    font-size: .950rem;
    font-weight: 400;
    letter-spacing: 0.010rem;
    color: var(--title-light);
    background-color: var(--form-input-bg);
    font-family: var(--font-family-inter-font);
    cursor: pointer;
}
.model_custom_dropdown_value:focus
{
    outline: none;
}
.model_custom_dropdown_value::placeholder
{
    font-weight: 500;
    color: var(--form-text-placeholder);
}
.model_custom_dropdown_icon
{
    width: 15px;
    height: 15px;
    color: var(--icon-dark-color);
}
.model_custom_dopdown_list
{
    display: none;
    max-height: 200px;
    border-radius: 7px;
    overflow-y: scroll;
    background-color: var(--form-input-bg);
}
.model_custom_dopdown_list.show
{
    display: block;
}
.model_custom_dopdown_list.show::-webkit-scrollbar,
.model_container::-webkit-scrollbar
{
    width: 5px;
    border-radius: 0px;
    background-color: var(--form-input-bg);
}

.model_custom_dopdown_list.show::-webkit-scrollbar-track,
.model_container::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

.model_custom_dopdown_list.show::-webkit-scrollbar-thumb,
.model_container::-webkit-scrollbar-thumb 
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--scroll-border); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.model_custom_dropdown_item
{
    padding: 10px 10px;
    font-size: .930rem;
    font-weight: 400;
    color: var(--title-heading);
    font-family: var(--font-family-inter-font);
    transition: 0.4s all ease-in-out;
}
.model_custom_dropdown_item:hover
{
    cursor: pointer;
    background-color: var(--dropdown-values-bg);
    color: var(--dropdown-values-color);
}
