.header_main_container
{
    width: 100%;
    padding: 15px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-bg);
}
.header_main_container a
{
    text-decoration: none;
}
.header_logo_info_container
{
    display: flex;
    align-items: center;
}
.header_logo
{
    width: 35px;
    height: 35px;
}
.header_logo_name
{
    margin-left: 10px;
    font-size: .950rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-sans-serif);
}

/* Header menu list */

.header_menu_list_container
{
    display: flex;
    align-items: center;
}
.header_menu_item
{
    padding: 0px 12px;
    color: var(--title-sub-heading);
    font-size: .950rem;
    font-weight: 600;
    font-family: var(--font-family-sans-serif);
    transition: 0.4s all ease-in-out;
}
.header_menu_item.active
{
    color: var(--title-highlight);
}
.header_menu_item:hover
{
    cursor: pointer;
    color: var(--title-highlight);
}

/* Header user info */

.header_user_info_container
{
    display: flex;
    align-items: center;
}
.header_user_info_logo_bg
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--icon-bg);
}
.header_user_info_logo
{
    width: 20px;
    height: 20px;
    margin: 7px 8px;
    color: var(--icon-color);
}
.header_user_info_name
{
    margin: 0px 10px;
    font-size: .950rem;
    font-weight: 600;
    color: var(--title-heading);
    font-family: var(--font-family-sans-serif);
}
